@model IEnumerable<_200SXContact.Models.Item>

@{
    ViewData["Title"] = "Dashboard";
}

@if (TempData["Message"] != null)
{
	<div class="modal fade show" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display: block;">
		<div class="modal-dialog" role="document" style="max-width: 380px;">
			<div class="modal-content" style="background-color: #f0f0f0;">
				<div class="modal-body d-flex justify-content-center align-items-center" style="height: 80px;">
					<strong style="font-size: 1.2rem; font-family: Helvetica, Arial, sans-serif;">@TempData["Message"]</strong>
				</div>
			</div>
		</div>
	</div>
}
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-6TGFNLDLZ5"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-6TGFNLDLZ5');
	</script>
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8385228399742318"
			crossorigin="anonymous"></script>
	<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
	<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>The Nissan 200SX Project || Import Garage</title>
	<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true" /></noscript>
	<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
	<style>
		/* Target the validation summary list to remove bullet points */
		.validation-summary-valid ul,
		.validation-summary-errors ul {
			list-style-type: none;
			padding-left: 0;
		}

			.validation-summary-valid ul li,
			.validation-summary-errors ul li {
				margin-left: 0;
				padding-left: 0;
			}
	</style>
</head>
<body class="is-preload" is-entry-success="@TempData["IsEntrySuccess"]">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<h1>Nissan 200SX Project</h1>
			<p>The Nissan 200SX Project by <b>Import Garage</b>; photos, updates, builds and more.</p>
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a asp-controller="Home" asp-action="Index" id="maintenApp" class="logo">Import Garage || Jap works</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			@try
			{
				<ul class="links">
					<li class="active">
						<a asp-controller="Home" asp-action="Index">Build updates</a>
					</li>
					<li>
						<a href="#contactForm" id="contactLink">Contact</a>
					</li>
					@if (User.Identity.IsAuthenticated)
					{
						<li><span>Logged in as @User.Identity.Name</span></li>
						<li>
							<a href="#" id="logoutLink">Logout</a>
						</li>
					}
				</ul>
			}
			catch (Exception ex)
			{
				<p>Error: @ex.Message</p>
			}

			<ul class="icons">
				@if (User.IsInRole("Admin"))
				{
					<li>
						<a asp-controller="Newsletter" asp-action="CreateNewsletter" class="icon admin-link" title="Admin">
							<span class="admin-icon">A</span>
							<span class="label">Admin</span>
						</a>
					</li>
				}
				<li>
					<a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
			</ul>
		</nav>



		<!-- Main -->
		<div id="main">

			<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<span class="date"></span>
					<h7>MaintenApp</h7>
					<br>
					<p>Use the below form to log, handle and configure service and maintenance intervals and components for your vehicle. You can add a new entry via the form below, making sure to correctly set up the date of next change; the current form submission date is used as the current vehicle part change/service action. All of your entries are displayed in the table below, you can edit each individual entry and hit <b>Save</b> afterwards. <br><br>After sucessful configuration, you will get email alerts 10 and 5 days respectively before the set alert date. NOTE ! This feature is still in development !</p>
				</header>
				<h1>Welcome, @User.Identity.Name !</h1>

				<h2>Manage Your Entries</h2>
				<br>
				<form asp-controller="Dashboard" asp-action="CreateEntry" method="post">
					<div class="form-group">
						<label for="entryTitle">Entry Title:</label>
						<input type="text" id="entryTitle" name="entryTitle" class="form-control" required />
					</div>
					<div class="form-group">
						<label for="entryDescription">Entry Description:</label>
						<textarea id="entryDescription" name="entryDescription" class="form-control" required></textarea>
					</div>
					<div class="form-group">
						<label for="dueDate">Select Due Date:</label>
						<div class="input-group">
							<input type="text" id="dueDate" name="dueDate" class="form-control" placeholder="Select due date" readonly />
							<span class="input-group-append">
								<button type="button" class="btn btn-outline-secondary" onclick="openDatepicker()">📅</button>
							</span>
						</div>
						<label id="selectedDate" style="margin-top: 10px;">Selected Date: None</label>
					</div>
					<button type="submit" class="btn-add-entry">
						Add Entry
					</button>
				</form>

				<br>
				<h2>Your recorded entries</h2>
				<div class="table-scrollable">
					<table class="table">
						<thead>
							<tr>
								<th style="text-align: center;">Entry</th>
								<th style="text-align: center;">Description</th>
								<th style="text-align: center;">Set Due Date</th>
								<th style="text-align: center;">Action</th>
							</tr>
						</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr data-item-id="@item.Id">
								<td contenteditable="true" class="editable" data-field="EntryItem">@item.EntryItem</td>
								<td contenteditable="true" class="editable" data-field="EntryDescription">@item.EntryDescription</td>
								<td>
									<input type="date" class="editable" data-field="DueDate" value="@item.DueDate.ToString("yyyy-MM-dd")" />
								</td>
								<td>
									<button class="btn-save" data-id="@item.Id">Save</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
				</div>
				<div id="successMessage" style="display:none;" class="alert alert-success">Changes saved successfully !</div>
				<div id="errorMessage" style="display:none;" class="alert alert-danger">Error saving changes !</div>
				<div class="center-div">

					Having issues with the app functionality ?
					<a href="/Home/Index?scrollToContactForm=true" class="contact-link"><strong>Contact me</strong></a>.

				</div>
			</article>
		</div>

		<!-- Footer -->
		<footer id="footer">
		
		</footer>

		<!-- Copyright -->
		<div id="copyright">
			<ul>&copy; Import Garage | Design: <a href="https://html5up.net">HTML5 UP</a></ul>
		</div>

	</div>


	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

	<!-- jQuery -->
	<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/util.js" asp-append-version="true"></script>
	<script src="~/assets/js/main.js" asp-append-version="true"></script>

	<!-- Bootstrap JS -->
	<script src="~/assets/js/bootstrap.min.js" asp-append-version="true"></script>

	<!-- Bootstrap Datepicker CSS and JS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

	<!-- Your custom scripts -->
	<script src="~/js/formScript.js" asp-append-version="true"></script>
	<script src="~/js/logInlogOut.js" asp-append-version="true"></script>
	<script src="~/js/dashboard.js" asp-append-version="true"></script>

</body>
</html>