@using _200SXContact.Models.Areas.Account
@model ForgotPasswordViewModel
@{
	var message = TempData["Message"] as string ?? ViewContext.HttpContext.Request.Query["message"];
}
@if (!string.IsNullOrEmpty(message))
{
	@await Html.PartialAsync("_MessageModalPartial", message)
}
@await Html.PartialAsync("_CookieModalPartial")
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>	
	<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
	<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<title>The Nissan 200SX Project || Import Garage || Forgot Password</title>
	<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true" /></noscript>
	<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
	<style>
		/* Target the validation summary list to remove bullet points */
		.validation-summary-valid ul,
		.validation-summary-errors ul {
			list-style-type: none;
			padding-left: 0;
		}
			.validation-summary-valid ul li,
			.validation-summary-errors ul li {
				margin-left: 0;
				padding-left: 0;
			}
	</style>
</head>
<body class="is-preload" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()" data-is-pass-reset-email-sent="@TempData["PassResetLinkEmailed"]">

	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<img src="~/images/flag.png" alt="Swiss Flag" class="flag" title="Image by pngtree.com">
			<br>
			<img src="~/images/flagRo.png" alt="Romania Flag" class="flagRo" title="Image by pngtree.com">
			<h1>Nissan 200SX Project</h1>
			<p>The Nissan 200SX Project by <b>Import Garage</b>; photos, updates, builds and more.</p>
			<br>
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a asp-controller="Home" asp-action="Index" class="logo">Import Garage || Jap works</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li>
					<a asp-controller="Home" asp-action="Index" asp-fragment="posts">Build updates</a>
				</li>
				<li>
					<a href="/home/index?scrollToContactForm=true" id="contactLink">Contact</a>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<span>
							<a asp-controller="Account" asp-action="UserProfile">@User.Identity.Name</a>
						</span>
					</li>
					<li>
						<a href="#" id="logoutLink">Logout</a>
					</li>
				}
			</ul>
			<ul class="icons">
				<li>
					<a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
			</ul>
		</nav>


		<!-- Main -->
		<div id="main">
			@Html.AntiForgeryToken()
			<!-- Featured Post -->
			<article class="post featured">
				<header class="major">
					<span class="date"></span>
					<h7 id="maintenApp">MaintenApp</h7>
					<br><br />
					<p>Use the below form to reset your password for your account.</p>
				</header>
				<h2>Forgot Password</h2>
				<form asp-action="ForgotPassword" method="post" id="forgotPasswordForm">
					@Html.AntiForgeryToken()
					<div class="form-group">
						<label asp-for="Email"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<br />
					<button type="submit" class="btn-add-entry">Send Password Reset Link</button>
				</form>
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<br />
				<span id="resend-link" class="date flashy-text" style="display: none; cursor: pointer; color: dimgrey; text-decoration: underline;">Didn't work ? Click here to resend the reset link.</span>
				<br>
				<div id="forgot-pass-reset-url" data-forgot-reset-url="@Url.Action("ForgotPassReset", "LoginRegister")" style="display:none;"></div>
				<div id="forgot-password-url" data-forgot-password-url="@Url.Action("ForgotPassword", "LoginRegister")" style="display:none;"></div>
			</article>
		</div>

		<!-- Copyright -->
		<div id="copyright">
			<ul>&copy; @DateTime.Now.Year Import Garage | Design: <a href="https://html5up.net">HTML5 UP</a> | <a href="/home/policy">Privacy</a></ul>
		</div>

	</div>
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/util.js" asp-append-version="true"></script>
	<script src="~/assets/js/main.js" asp-append-version="true"></script>
	<script src="~/assets/js/bootstrap.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/bootstrap.min.js" asp-append-version="true"></script>
	<script src="~/js/Areas/Account/ForgotPassReset/bundle.min.js" asp-append-version="true"></script>
</body>
</html>