@model IEnumerable<UserBuild>
@{
	ViewData["Title"] = "The Nissan 200SX Project || Import Garage || User Builds";
}
@{
	var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
	<div class="modal fade show" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display: block;">
		<div class="modal-dialog" role="document" style="max-width: 380px;">
			<div class="modal-content" style="background-color: #f0f0f0;">
				<div class="modal-body d-flex justify-content-center align-items-center" style="height: 80px;">
					<strong style="font-size: 1.2rem; font-family: Helvetica, Arial, sans-serif;">@message</strong>
				</div>
			</div>
		</div>
	</div>
}
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-6TGFNLDLZ5"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-6TGFNLDLZ5');
		</script>
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8385228399742318"
			crossorigin="anonymous"></script>
		<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
		<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>The Nissan 200SX Project || Import Garage</title>
		<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true"/></noscript>
		<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
		
	</head>
<body class="is-preload" data-is-form-submitted="@TempData["IsFormSubmitted"]" data-is-form-success="@TempData["IsFormSuccess"]"> 
		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Intro -->
			<div id="intro">
				<h1>Nissan 200SX Project</h1>
				<p>The Nissan 200SX Project by <b>Import Garage</b>; photos, updates, builds and more.</p>
				<ul class="actions">
					<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div>

			<!-- Header -->
			<header id="header">
				<a asp-controller="Home" asp-action="Index" class="logo">Import Garage || Jap works</a>
			</header>

			<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li class="active">
					<a asp-controller="Home" asp-action="Index">Build updates</a>
				</li>
				<li>
					<a href="#" id="contactLink">Contact</a>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<a href="@Url.Action("Dashboard", "Dashboard")" id="dashboardLink">MaintenApp</a>
					</li>
				}
				else
				{
					<li>
						<a href="@Url.Action("Login", "LoginRegister")" id="loginForm">MaintenApp</a>
					</li>

				}
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<span>
							<a asp-controller="UserBuilds" asp-action="AddUserBuild">Add my build</a>
						</span>
					</li>
					<li><span>Logged in as @User.Identity.Name</span></li>
					<li>
						<a href="#" id="logoutLink">Logout</a>
					</li>
				}
			</ul>
			<ul class="icons">
				@if (User.IsInRole("Admin"))
				{
					<li>
						<a asp-controller="Newsletter" asp-action="CreateNewsletter" class="icon admin-link" title="Admin">
							<span class="admin-icon">A</span>
							<span class="label">Admin</span>
						</a>
					</li>
				}
				<li>
					<a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
			</ul>
		</nav>


			<!-- Main -->
			<div id="main">

				<!-- Featured Post -->
				<article class="post featured">
					<header class="major">
						<span class="date"></span>
						<h2>User Builds</h2>
						<p>You can find here all user builds submitted by registered users.</p>
					</header>					
				
				</article>

				<!-- Posts -->
				<section class="posts">

				@foreach (var build in Model)

				{
					<article>
						<header>
							<span class="date">@build.DateCreated.ToString("MMMM dd, yyyy")</span>
							<h2><a asp-controller="UserBuilds" asp-action="DetailedUserView" asp-route-id="@build.Id">@build.Title</a></h2>
						</header>
						<a asp-controller="UserBuilds" asp-action="DetailedUserView" asp-route-id="@build.Id" class="image fit">
							<img src="@build.ImagePath" alt="@build.Title" />
						</a>
						<br>
						<p>@build.Description.Substring(0, 50)...</p> <!-- Show a preview of the description -->
						<ul class="actions special">
							<li><a asp-controller="UserBuilds" asp-action="DetailedUserView" asp-route-id="@build.Id" class="button">Read more</a></li>
						</ul>
					</article>
				}			
				</section>


			</div>
			<!-- Footer -->
			<footer id="footer">				
				
			</footer>

			<!-- Copyright -->
			<div id="copyright">
				<ul>&copy; Import Garage | Design: <a href="https://html5up.net">HTML5 UP</a></ul>
			</div>

		</div>

		<!-- Scripts -->
		<!-- Include Bootstrap CSS -->
		<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" /> -->
	    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
		<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/util.js" asp-append-version="true"></script>
		<script src="~/assets/js/main.js" asp-append-version="true"></script>
		<script src="~/js/formScript.js" asp-append-version="true"></script>
		<script src="~/js/logInlogOut.js" asp-append-version="true"></script>
</body>
	
</html>