@using System.Security.Claims
@model _200SXContact.Models.Product
@{
	ViewData["Title"] = "The Nissan 200SX Project || Import Garage || " + Model.Name.Substring(0, 50) + "...";
}
@{
	var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
	<div class="modal fade show" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display: block;">
		<div class="modal-dialog" role="document" style="max-width: 380px;">
			<div class="modal-content" style="background-color: #f0f0f0;">
				<div class="modal-body d-flex justify-content-center align-items-center" style="height: 80px;">
					<strong style="font-size: 1.2rem; font-family: Helvetica, Arial, sans-serif; text-align: center;">@message</strong>
				</div>
			</div>
		</div>
	</div>
}
<!-- Modal structure -->
<div class="custom-modal fade show" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
	<div class="custom-modal-dialog" role="document" style="max-width: 100%; margin: 0;">
		<div class="custom-modal-content" style="background-color: rgba(240, 240, 240, 0.9);">
			<div class="custom-modal-body d-flex justify-content-center align-items-center" style="height: auto; text-align: center; padding: 20px;">
				<div style="width: 100%; text-align: center;">
					<strong style="font-size: 0.7rem; font-family: Helvetica, Arial, sans-serif; text-align: center;">
						We use cookies to make your experience smoother; by accepting this, you agree to our use of cookies. If you choose to deny, some parts of the website may not work as intended; please keep in mind that denying the cookies will only disable the non-essential ones, while essential cookies used for authentication and authorisation are still necessary for the website to function.
					</strong>
					<div style="margin-top: 15px;">
						<span id="acceptCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Accept
						</span>
						<span id="denyCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Deny
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<!-- Swiper CSS from CDN -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

		<!-- Your local effect-carousel styles -->
		<link rel="stylesheet" href="/src/styles/effect-carousel.min.css" />
		<link rel="stylesheet" href="/src/styles/swiper.css" />
		<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
		<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>The Nissan 200SX Project || Import Garage</title>
		<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true"/></noscript>
		<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
		
	</head>
<body class="is-preload" data-is-comment-posted="@TempData["CommentPosted"]">
	<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Intro -->
		<div id="intro">
			<img src="~/images/flag.png" alt="Swiss Flag" class="flag" title="Image by pngtree.com">
			<br>
			<img src="~/images/flagRo.png" alt="Romania Flag" class="flagRo" title="Image by pngtree.com">
			<h1>Nissan 200SX Project</h1>
			<p>The Nissan 200SX Project by <b>Import Garage</b>; photos, updates, builds and more.</p>
			<br>
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

			<!-- Header -->
			<header id="header">
				<a asp-controller="Home" asp-action="Index" class="logo">Import Garage || Jap works</a>
			</header>

			<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li class="active">
					<a asp-controller="Home" asp-action="Index">Build updates</a>
				</li>
				<li>
					<a href="#" id="contactLink">Contact</a>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<a href="@Url.Action("Dashboard", "Dashboard")" id="dashboardLink">MaintenApp</a>
					</li>
				}
				else
				{
					<li>
						<a href="@Url.Action("Login", "LoginRegister")" id="loginForm">MaintenApp</a>
					</li>

				}
				<li>
					<span>
						<a asp-controller="UserBuilds" asp-action="UserContentDashboard">User Builds</a>
					</span>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<form>
						@Html.AntiForgeryToken()
					</form>
					<li>
						<span>
							<a asp-controller="Account" asp-action="UserProfile">@User.Identity.Name</a>
						</span>
					</li>
					<li>
						<a href="#" id="logoutLink">Logout</a>
					</li>
				}
			</ul>
			<ul class="icons">
				@if (User.IsInRole("Admin"))
				{
					<li>
						<a asp-controller="Account" asp-action="AdminDash" class="icon admin-link" title="Admin">
							<span class="admin-icon">A</span>
							<span class="label">Admin</span>
						</a>
					</li>
				}
				<li>
					<a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
			</ul>
		</nav>


			<!-- Main -->
			<div id="main">

				<!-- Posts -->
			<article class="post featured">
				<header>
					<h1 id="detailedProductViewSection">@Model.Name</h1>
					<span class="category">
						<strong>Category:</strong> @Model.Category
					</span>
					<br>
					<span class="price">
						<strong>Price:</strong> @Model.Price.ToString("N2")
					</span>
					<br>
					<span class="date-added">
						<strong>Date Added:</strong> @Model.DateAdded.ToString("dd-MM-yyyy")
					</span>
					<br>
				</header>
				<br>
				@if (Model.ImagePaths != null && Model.ImagePaths.Any())
				{
				<div id="app">
					<div class="swiper swiper-carousel">
						<div class="swiper-wrapper">
								@foreach (var imagePath in Model.ImagePaths)
								{
								<div class="swiper-slide">
									<div class="swiper-carousel-animate-opacity">
										<img src="@Url.Content(imagePath)" alt="Image for @Model.Name"/>
									</div>
								</div>
								}
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
				}
				
				<section>
					<p>@Model.Description</p>
				</section>

				<!-- Add to Cart Section -->
				<section style="display: flex; justify-content: center;">
					<form asp-action="AddToCart" asp-controller="Cart" method="post" style="display: flex; align-items: center;">
						<input type="hidden" name="productId" value="@Model.Id" />
						<input type="hidden" name="quantity" value="1" />
						<button type="submit" style="background: none; border: none; padding: 0; cursor: pointer; display: flex; align-items: center;">
							<span style="font-size: 16px; color: #333; margin-right: 8px;">&nbsp;&nbsp;Add this item to cart&nbsp;</span>
							<img src="/images/addcart.png" alt="Add to Cart" style="width: 40px; height: 40px; border: none;" />
						</button>
					</form>
				</section>

			</article>


			</div>
			<!-- Footer -->
			<footer id="footer">				
				
			</footer>

			<!-- Copyright -->
			<div id="copyright">
				<ul>&copy; Import Garage | Design: <a href="https://html5up.net">HTML5 UP</a></ul>
			</div>

		</div>

		<!-- Scripts -->
		<!-- Include Bootstrap CSS -->
		<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" /> -->
	    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
		<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/util.js" asp-append-version="true"></script>
		<script src="~/assets/js/main.js" asp-append-version="true"></script>
		<script src="~/js/formScript.js" asp-append-version="true"></script>
		<script src="~/js/logInlogOut.js" asp-append-version="true"></script>
		<script src="~/js/cartOps.js" asp-append-version="true"></script>
		<script src="~/js/floatLoginBtn.js" asp-append-version="true"></script>
		<script src="~/js/cookies.js" asp-append-version="true"></script>
		<script src="~/js/floatLoginBtn.js" asp-append-version="true"></script>
		<!-- Swiper JS from CDN -->
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<!-- Your local effect-carousel script -->
		<script src="/src/styles/effect-carousel.min.js" asp-append-version="true"></script>
		<script src="/js/swiperCarousel.js"></script>

</body>
	
</html>