@using _200SXContact.Models.DTOs.Areas.Products
@model IEnumerable<_200SXContact.Models.DTOs.Areas.Products.ProductDto>
@{
	var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))

{
	@await Html.PartialAsync("_MessageModalPartial", message)
}
@await Html.PartialAsync("_CookieModalPartial")
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
		<link rel="stylesheet" href="/src/styles/effect-carousel.min.css" />
		<link rel="stylesheet" href="/src/styles/swiper.css" />
		<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
		<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<title>The Nissan 200SX Project || Import Garage || Products</title>
		<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
		<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true" /></noscript>
		<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
	</head>

<body class="is-preload" data-item-added="@TempData["ItemAdded"]" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">
	<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			<!-- Intro -->
			<div id="intro">
				<img src="~/images/flag.png" alt="Swiss Flag" class="flag" title="Image by pngtree.com">
				<br>
				<img src="~/images/flagRo.png" alt="Romania Flag" class="flagRo" title="Image by pngtree.com">
				<h1>Nissan 200SX Project</h1>
				<p>The Nissan 200SX Project by <b>Import Garage</b>; photos, updates, builds and more.</p>
				<br>
				<ul class="actions">
					<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
				</ul>
			</div>

			<!-- Header -->
			<header id="header">
				<a asp-controller="Home" asp-action="Index" class="logo">Import Garage || Jap works</a>
			</header>

			<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li>
					<a asp-controller="Home" asp-action="Index">Build updates</a>
				</li>
				<li>
					<a href="#" id="contactLink">Contact</a>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<a href="/mainten-app" id="dashboardLink">MaintenApp</a>
					</li>
				}
				else
				{
					<li>
						<a href="/login-page" id="loginForm">MaintenApp</a>
					</li>
				}
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<span>
							<a asp-controller="UserBuilds" asp-action="AddUserBuild">Add my build</a>
						</span>
					</li>
					<form>
						@Html.AntiForgeryToken()
					</form>
					<li>
						<span>
							<a asp-controller="Account" asp-action="UserProfile">@User.Identity.Name</a>
						</span>
					</li>
					<li>
						<a href="#" id="logoutLink">Logout</a>
					</li>
				}
			</ul>
			<ul class="icons">
				@if (User.IsInRole("Admin"))
				{
					<li>
						<a asp-controller="Account" asp-action="AdminDash" class="icon admin-link" title="Admin">
							<span class="admin-icon">A</span>
							<span class="label">Admin</span>
						</a>
					</li>
				}
				<li>
					<a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
			</ul>
		</nav>


			<!-- Main -->
			<div id="main">
			
				<!-- Featured Post -->
				<article class="post featured">
					<header class="major">
						<span class="date"></span>
						<br>
						<h2>Merchandise</h2>
					<p id="productsDash">You can find here all the merch available from our brand.</p>
				</header>					
				
				</article>
				<div id="app">
					<div class="swiper swiper-carousel">
					<div class="swiper-wrapper">
						@foreach (var product in Model)
						{
							<div class="swiper-slide">
								<div class="swiper-carousel-animate-opacity">
									<a asp-controller="Products" asp-action="DetailedProductView" asp-route-id="@product.Id">
										<img src="@(product.ImagePaths != null && product.ImagePaths.Any() ? product.ImagePaths.FirstOrDefault() : "/images/default-placeholder.png")" alt="@product.Name" />
									</a>
									<div class="slide-content">
										<a asp-controller="Products" asp-action="DetailedProductView" asp-route-id="@product.Id">
											<h2>@product.Name</h2>
										</a>
										<p>@product.Description</p>
										<p class="price custom-carousel-center-text">@product.Price</p>
									</div>
								</div>
							</div>
						}
					</div>
						<div class="swiper-pagination"></div>
						
					</div>
				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				</div>			
			</div>
			<!-- Footer -->
			<footer id="footer">				
				
			</footer>

			<!-- Copyright -->
			<div id="copyright">
			<ul>&copy; @DateTime.Now.Year Import Garage | Design: <a href="https://html5up.net">HTML5 UP</a> | <a href="/home/policy">Privacy</a></ul>
			</div>

		</div>
		<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
		<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
		<script src="~/assets/js/util.js" asp-append-version="true"></script>
		<script src="~/assets/js/main.js" asp-append-version="true"></script>
		<script src="~/js/Areas/Marketplace/ProductsDashboard/bundle.min.js" asp-append-version="true"></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script src="/src/styles/effect-carousel.min.js" asp-append-version="true"></script>
		<script src="/js/swiperCarousel.js"></script>
</body>
	
</html>