@model List<_200SXContact.Models.OrderTrackingViewModel>
@using System.Security.Claims
@{
	ViewData["Title"] = "The Nissan 200SX Project || Import Garage || Update Order".Substring(0, 50) + "..."; 
}
@{
	var message = TempData["Message"] as string;
}
@if (!string.IsNullOrEmpty(message))
{
	<div class="modal fade show" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" style="display: block;">
		<div class="modal-dialog" role="document" style="max-width: 380px;">
			<div class="modal-content" style="background-color: #f0f0f0;">
				<div class="modal-body d-flex justify-content-center align-items-center" style="height: 80px;">
					<strong style="font-size: 1.2rem; font-family: Helvetica, Arial, sans-serif; text-align: center;">@message</strong>
				</div>
			</div>
		</div>
	</div>
}
<!-- Modal structure -->
<div class="custom-modal fade show" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel" aria-hidden="true">
	<div class="custom-modal-dialog" role="document" style="max-width: 100%; margin: 0;">
		<div class="custom-modal-content" style="background-color: rgba(240, 240, 240, 0.9);">
			<div class="custom-modal-body d-flex justify-content-center align-items-center" style="height: auto; text-align: center; padding: 20px;">
				<div style="width: 100%; text-align: center;">
					<strong style="font-size: 0.7rem; font-family: Helvetica, Arial, sans-serif; text-align: center;">
						We use cookies to make your experience smoother; by accepting this, you agree to our use of cookies. If you choose to deny, some parts of the website may not work as intended; please keep in mind that denying the cookies will only disable the non-essential ones, while essential cookies used for authentication and authorisation are still necessary for the website to function.
					</strong>
					<div style="margin-top: 15px;">
						<span id="acceptCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Accept
						</span>
						<span id="denyCookies" class="custom-cookie-text" style="margin: 10px; color: #333; cursor: pointer; font-size: 16px; font-family: Helvetica, Arial, sans-serif;">
							Deny
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
	<meta name="description" content="The Nissan 200SX Project by Import Garage; photos, updates, builds and more.">
	<meta name="keywords" content="Nissan, build, car, diy, project, custom, enthusiast, 200sx, Silvia, S13">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="~/assets/css/main.css" asp-append-version="true" />
	<noscript><link rel="stylesheet" href="~/assets/css/noscript.css" asp-append-version="true" /></noscript>
	<link rel="icon" href="~/images/favicon.png" type="image/x-icon" asp-append-version="true">
</head>
<body class="is-preload" data-is-authenticated="@User.Identity.IsAuthenticated.ToString().ToLower()">
	<!-- Wrapper -->
	<div id="wrapper" class="fade-in">

		<!-- Intro -->
		<div id="intro">
			<img src="~/images/flag.png" alt="Swiss Flag" class="flag" title="Image by pngtree.com">
			<br>
			<img src="~/images/flagRo.png" alt="Romania Flag" class="flagRo" title="Image by pngtree.com">
			<h1>Nissan 200SX Project</h1>
			<p>The Nissan 200SX Project by <b>Import Garage</b>; photos, updates, builds and more.</p>
			<br>
			<ul class="actions">
				<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
			</ul>
		</div>

		<!-- Header -->
		<header id="header">
			<a asp-controller="Home" asp-action="Index" class="logo">Import Garage || Jap works</a>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul class="links">
				<li class="active">
					<a asp-controller="Home" asp-action="Index">Build updates</a>
				</li>
				<li>
					<a href="#" id="contactLink">Contact</a>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<a href="/mainten-app" id="dashboardLink">MaintenApp</a>
					</li>
				}
				else
				{
					<li>
						<a href="/login-page" id="loginForm">MaintenApp</a>
					</li>
				}
				<li>
					<span>
						<a asp-controller="UserBuilds" asp-action="UserContentDashboard">User Builds</a>
					</span>
				</li>
				@if (User.Identity.IsAuthenticated)
				{
					<li>
						<span>
							<a asp-controller="Account" asp-action="UserProfile">@User.Identity.Name</a>
						</span>
					</li>
					<li>
						<a href="#" id="logoutLink">Logout</a>
					</li>
				}
			</ul>
			<ul class="icons">
				@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
				{
					<li>
						<a asp-controller="Account" asp-action="AdminDash" class="icon admin-link" title="Admin">
							<span class="admin-icon">A</span>
							<span class="label">Admin</span>
						</a>
					</li>
				}
				<li>
					<a href="https://www.facebook.com/nissan200sxproject" class="icon brands fa-facebook-f">
						<span class="label">Facebook</span>
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/200sxprojectro?igsh=MWZjeWE4eW5idGU0ZQ==" class="icon brands fa-instagram">
						<span class="label">Instagram</span>
					</a>
				</li>
			</ul>
		</nav>


		<!-- Main -->
		<div id="main">
			<article class="post featured">
				<h2 id="ordersAll">Orders</h2>
				<table id="orderTable">
					<thead>
						<tr>
							<th>Order ID</th>
							<th>Customer Name</th>
							<th>Status</th>
							<th>Carrier</th>
							<th>Tracking Number</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<form id="order-tracking-form">
							@Html.AntiForgeryToken()
						</form>
						@foreach (var item in Model)
						{
							<tr data-order-id="@item.Order.Id">
								<td>@item.Order.Id</td>
								<td>@item.Order.FullName</td>
								<td>
									<input type="text" class="status-input" value="@item.OrderTracking?.Status" />
								</td>
								<td>
									<input type="text" class="carrier-input" value="@item.OrderTracking?.Carrier" />
								</td>
								<td>
									<input type="text" class="tracking-number-input" value="@item.OrderTracking?.TrackingNumber" />
								</td>
								<td>
									<button class="save-btn">Save</button>
								</td>
								<td>
									<button class="view-cart-btn" data-order-id="@item.Order.Id">View Cart Items</button>
								</td>
							</tr>
						}
					</tbody>
				</table>
				<div id="cartItemsPopup" class="popup hidden">
					<div class="popup-content">						
						<h3>Cart Items</h3>
						<table>
							<thead>
								<tr>
									<th>Product Name</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody id="cartItemsTable">
							</tbody>
						</table>
						<div class="popup-footer">
							<button class="save-btn" id="closePopup">Close</button>
						</div>
					</div>
				</div>

			</article>
		</div>


		<!-- Footer -->
		<footer id="footer">
		</footer>

		<!-- Copyright -->
		<div id="copyright">
			<ul>&copy; Import Garage | Design: <a href="https://html5up.net">HTML5 UP</a></ul>
		</div>

	</div>

	<!-- Scripts -->
	<!-- Include Bootstrap CSS -->
	<!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" /> -->
	<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
	<script src="~/assets/js/jquery.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrollex.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/jquery.scrolly.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/browser.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/breakpoints.min.js" asp-append-version="true"></script>
	<script src="~/assets/js/util.js" asp-append-version="true"></script>
	<script src="~/assets/js/main.js" asp-append-version="true"></script>
	<script src="~/js/formScript.js" asp-append-version="true"></script>
	<script src="~/js/logInlogOut.js" asp-append-version="true"></script>
	<script src="~/js/orderTracking.js" defer asp-append-version="true"></script>
</body>

</html>